<mat-progress-bar *ngIf="!isLoaded" mode="indeterminate"></mat-progress-bar>
<div *ngIf="isLoaded" class="upper-grid">
  <div>
    <summary-panel
      [data]="playerData.summary"
      [shouldUseVirtualLevels]="this.useVirtualLevels"
    ></summary-panel>
  </div>
  <div>
    <skills-panel
      [data]="playerData.skills"
      [shouldUseVirtualLevels]="this.useVirtualLevels"
    ></skills-panel>
  </div>
  <div>
    <quests-panel
      [quests]="playerData.quest"
      [miniquests]="playerData.miniquest"
      [summary]="playerData.summary"
    ></quests-panel>
  </div>
</div>
