.skill {
  padding: 0.3em;
  display: flex;
  gap: 0.5em;
  background-color: var(--brown);
  border: solid 1px var(--light-brown);
  min-height: 2.3em;
  justify-content: center;
  align-items: center;

  .icon {
    max-height: 30px;
    max-width: 30px;
  }

  .level {
    color: var(--yellow);
  }
}

.gold-trim {
  border: solid 1px #ffd700;
}

.silver-trim {
  border: solid 1px #c0c0c0;
}
