<mat-card>
  <div style="text-align: center">
    <mat-card-header class="runescape-font">Skills</mat-card-header>
  </div>
  <mat-card-content>
    <div class="grid">
      <skill
        [skill]="data['attack']"
        [skillName]="'attack'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['hitpoints']"
        [skillName]="'hitpoints'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['mining']"
        [skillName]="'mining'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['strength']"
        [skillName]="'strength'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['agility']"
        [skillName]="'agility'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['smithing']"
        [skillName]="'smithing'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['defence']"
        [skillName]="'defence'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['herblore']"
        [skillName]="'herblore'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['fishing']"
        [skillName]="'fishing'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['ranged']"
        [skillName]="'ranged'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['thieving']"
        [skillName]="'thieving'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['cooking']"
        [skillName]="'cooking'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['prayer']"
        [skillName]="'prayer'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['crafting']"
        [skillName]="'crafting'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['firemaking']"
        [skillName]="'firemaking'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['magic']"
        [skillName]="'magic'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['fletching']"
        [skillName]="'fletching'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['woodcutting']"
        [skillName]="'woodcutting'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['runecraft']"
        [skillName]="'runecraft'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['slayer']"
        [skillName]="'slayer'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['farming']"
        [skillName]="'farming'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['construction']"
        [skillName]="'construction'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
      <skill
        [skill]="data['hunter']"
        [skillName]="'hunter'"
        [shouldUseVirtualLevels]="this.shouldUseVirtualLevels"
      ></skill>
    </div>
  </mat-card-content>
</mat-card>
