.summary-panel {
  background-color: #453c33;
  height: 30em;
  display: flex;
  align-items: center;

  .summary-panel-header {
    padding-bottom: 0.5em;
    gap: 1em;

    .title {
      color: #ff981f;
      font-size: 1.5em;
    }
  }

  .grid {
    display: grid;
    gap: 0.2em;
    grid-template-columns: 50% 50%;

    .full-line {
      grid-column: 1 / 3;
    }
  }
}
