#model-viewer {
  height: 25em;
  width: 20em;
  background-color: var(--brown);
  border: solid 1px var(--light-brown);
}

.title {
  color: var(--orange);
  font-size: 1.5em;
}

.help {
  color: var(--orange);
}

.tooltip-wrapper {
  padding: 8px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 5px;
  margin: 8px;
  font-size: 12px;
}
