<mat-card>
  <mat-card-content class="diary">
    <div class="content">
      <div class="title runescape-font" [style.color]="getDiaryTitleColor()">
        {{ diaryName }}
      </div>
      <div class="tiers">
        <div
          class="tier"
          [style.background-color]="getDiaryColor(diary.easy)"
        ></div>
        <div
          class="tier"
          [style.background-color]="getDiaryColor(diary.medium)"
        ></div>
        <div
          class="tier"
          [style.background-color]="getDiaryColor(diary.hard)"
        ></div>
        <div
          class="tier"
          [style.background-color]="getDiaryColor(diary.elite)"
        ></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
