.container {
  height: 100vh;
  background-color: rgb(226, 219, 200);

  .mat-toolbar {
    font-size: 2em;
    color: rgb(82, 53, 30);
    background-color: #c1a983;

    div {
      cursor: pointer;
      padding: 0.5em;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}
