.summary-card {
  background-color: var(--brown);
  border: solid 1px var(--light-brown);
  padding: 0.1em;
  height: 4.5em;

  .summary-card-header {
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    white-space: nowrap;

    &.smaller-text {
      font-size: 1em;
      text-shadow: 2px 1px black;
    }
  }

  .card {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    padding: 0.1em;

    .icon {
      max-height: 30px;
      max-width: 30px;
    }

    .text {
      color: var(--green);
    }
  }
}
