<div mat-dialog-title class="dialog-title">
  <div class="runescape-font title">Configuration</div>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <mat-checkbox [formControl]="virtualLevel" class="runescape-font config"
    >Show virtual levels</mat-checkbox
  >
</div>
<div mat-dialog-actions align="end">
  <button
    mat-flat-button
    cdkFocusInitial
    color="primary"
    (click)="onSaveClick()"
  >
    Ok
  </button>
</div>
