.container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;

  .form {
    padding: 5em;

    .form-field {
      width: 25em;

      .input-button {
        cursor: pointer;
        background-color: whitesmoke;
        border: 0px;
      }

      .input-error {
        font-size: 0.725em;
      }
    }
  }
}
